body{
height: 100vh;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Open Sans', Arial, sans-serif;
line-height: 1.4em;
color: orange;
}
.business-card
{
    
    width: 30%;
    height: fit-content;
     background: black;
    text-align: center;
    transition: box-shadow 0.5s; 

 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
     
}
.business-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05);
}

figure
{

width: 50%;
height: 50%;
margin: 0;


}
figure img
{
  
    width: 100%;
    height: 100%;
    border-radius: 150px;

   
  
   

}
.user-detail
{
    text-align: center;
    width: 100%;
  
}
.profile
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  
}
@media screen and (max-width:767px) {

    body{
       
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', Arial, sans-serif;
        line-height: 1.4em;
        color: orange;
        }  
        .business-card
{
    
    width: 100%;
    height: 100%;
     background: black;
    text-align: center;
  
     
}

    
}
@media screen and (max-width: 575px) {

    body{
       
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', Arial, sans-serif;
        line-height: 1.4em;
        color: orange;
        }  
        .business-card
{
    
    width: 100%;
    height: 100%;
     background: black;
    text-align: center;
    
     
}

}
